<h1>Abhinav the destoryer</h1>
<img src="../static/analAbhinav.jpeg" height="50%" width="50%" style="border-radius: 20px; border:2px solid blue"><br>
<h3>Abhinav sir is one of the greatest influencers to be found exclusive in AUH.</h3><br>
<span>Even after being such a great person he doen't seem to be over prouded about himself.</span><br>
<span>That's a different case he sometimes start fighting with people for taking photographs of a curtain thinking they are taking his photograph</span>
<h2>Achievements</h2>
<p>At the age of 11 Abhinav sir is said to have entire encyclopedia britannica. After that he never looked back and started learning modern machine learning algorithms and programming technologies. Then he stepped into the corporate world at the age of 15 and as his name suggest "The Destroyer" he started beating all companies like Honda, Suzuki, Reliance just to name a few. Then these companies request Elon Musk to request Abhinav sir to stop his destruction and let them earn their living. Finally Mr. Elon succeeded in convincing Abhinav sir to stop his destruction and as of now he is just studying in AUH among common people who are really grateful that he joined them.</p>
<h2>Hobbies</h2>
<p>As the pet name suggests his hobby is destroying others. He on an FL lecture day destroyed two poor people by refusing to join them in the auditorium and even threatning them</p>
<img src="../static/abhinavSirr.jpeg" height="60%" width="30%" style="border-radius: 20px; border:2px solid blue">
<p>Thank the heavens his keyboard autocorrected his words to a "sorry" in the last message that the two guys didn't commited suicide in his fear.</p>