{% extends "layout_manage.html" %}  
{% block main %}
    <div class="container-fluid" style="background-color: white; border-radius:25px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6)">
        
        <div class="row text-center">
            <span class="mb-3">
                Which member's details you want to change?
            </span>
            {% for c in members %} 
                <div class="row text-center">
                    <p><a onclick="showLoadingOverlay()" href="{{url_for('changeDetails', name=c['name'])}}" class="btn btn-primary mx-auto" style="text-decoration:none; color:white; width:300px; border-radius:60px;">{{c['name']}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    



{% endblock %} 