{% extends "layout.html" %}

{% block main %} 
    <div class="row text-center mt-3 mb-5">
        <span style="font-size: 2em;">Welcome {{ name }}</span>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-6 mb-5" style="min-width: 350px; background-color: white; border: 5px solid #0d6efd; border-radius: 20px; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);">
            <div class="row">
                <p style="font-size: 2em;"> Upcoming <span class="text-primary"> To Be Remembered </span>In Your Family </p>
            </div>
            {% for c in dataUpcoming %} 
                <div class="row text-center" style="font-size: 1.7em;">
                    <p>{{c['member_name']}} is <span class="text-primary">To Be Remembered</span> of</p>
                </div>
                <div class="row text-center " style="font-size: 1.5em; color: red">
                    <span>{{c['task']}}</span>
                </div>
                <div class="row text-center mt-4 mb-4" style="border-bottom: 3px solid black; ">
                    <p><span style="font-size: 1.7em; margin-right: 15px">On</span> <span style="font-size: 1.5em; color: red">{{c['day']}}/{{c['month']}} </span></p>
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <div class="container-fluid" style="min-width: 350px; background-color: white; border: 5px solid #0d6efd; border-radius: 20px; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);">
                <div class="row text-center">
                    <p style="font-size: 2em;"> See <span class="text-primary"> To Be Remembered </span>For :</p>
                </div>
                {% for c in dataNames %} 
                    <div class="row text-center">
                        <p><a href="{{url_for('see', clicked_name=c['name'] )}}" class="mt-1 mb-2 btn btn-primary" style="width:300px; border-radius: 60px; text-decoration:none;font-size: 1.5em;">{{c['name']}}</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>    
    </div>
    <a href="/new" class="btn btn-primary" style="position:fixed; bottom: 20px; right: 20px;border-radius: 60px; border:5px solid white; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);"><img src="../static/add.png" height="50px" width="50px" alt="add" style="margin-right: 10px;"><span style="color:white; font-size: 1.5em;">ADD</span> </a>
{% endblock %} 