{% extends 'layout_manage.html' %} 

{% block main %} 
    <div class="container" style="max-width:300px; background-color: white; border-radius:25px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6)">
        <div class="row text-center">
            <h1 style="color:red">Are you sure this can't be undone</h1>
        </div>
        <div class="row text-center">
            <p style="display:none; padding:5%" id="info">{{info}}</p>
        </div>
        <div class="row text-center">
            <form action="/deleteAccount" method="post">
                <div class="row text-center">
                    <p>
                        <input type="password" required class="form-control" style="width:275px; border-radius:60px;" placeholder="Password" name="password">
                    </p>
                </div>
                <div class="row text-center">
                    <p>
                        <button class="btn btn-danger" style="border-radius:60px; width:250px;" type="submit">Delete account forever</button>
                    </p>
                </div>
            </form>
        </div>
    
    </div>
    <script>
        let info = document.getElementById('info')
        if (info.innerHTML != ""){
            info.style.display = 'block';
            info.style.backgroundColor = '#0d6efd';
            info.style.color = 'white'
        }
    </script>


{% endblock %} 
