{% extends "layout_app.html" %} 

{% block title %} DOCS {% endblock %}
{% block main %} 
    <div class="container-fluid mt-4">
        <div class="row text-center" style="background-color: rgb(215,215,215); border-radius:15px;">
            <h1>Docs For Fami</h1>
            <h2>Purpose</h2>
            <p>To serve families with habits of forgetting important things, our sole purpose is to 
                help you and your family stay aware of what is to be reminded to your family members "AT TIME".
            </p>
            <h2>How we achieve it</h2>
            <p>We send a email to all the members of your family 1 hour prior to the time set by you at the time of setting up the reminder.</p>
            <h3>Note: </h3>
            <p>We are continuously working to scale our servers and 1 in 200 notifications can be missed by us due to server loads but still it's not too bad "99.5% uptime"</p>
            <h2>How do you actually start using Fami?</h2>
            <p>It's simple just register an account for your family and add all your family members to the account (which you automatically will be asked to do once you set up an account). Thereafter, you will be redirected to the dashboard where you can add new "To Be Reminded" as 
                it is said in Fami language. You can see the upcoming To Be Remindid's for the next 7days at your dashboard.
            </p>
            <h3>Another Note: </h3>
            <p>All the emails are send according to the Asia/Kolkata time zone and we assume that the users of Fami are residents of India. We are working to achieve global converage thanks for your patience.</p>
            <h2>By using our service you agree to all the notes present at the docs and also we assume that you agree the developers can change the docs without any notifications.</h2>
        </div>
    </div>




{% endblock %} 
