{% extends "layout_app.html" %}

{% block main %}
    <div class="row text-center">
        <p style="font-size: 3em; color: white;">One Family One App</p>
    </div>
    <div class="row text-center">
        <p style="font-size: 2em; color: white;">That helps your family remember each other what's important</p>
    </div>
    <div class="row text-center mb-4">
        <p><a href="/signup" style="padding: 1% 5% 1% 5%; width: auto; border: 3px solid white; border-radius: 60px; background-color: #0d6efd; color: white; text-decoration: none; font-size: 1.5em;" >Create Family Account</a></p>
    </div>
    <div class="row text-center mb-4">
        <p><a href="/login" style="padding: 1% 5% 1% 5%; width: auto; border: 3px solid white; border-radius: 60px; background-color: #0d6efd; color: white; text-decoration: none; font-size: 1.5em; opacity: 0.7;" >Login</a></p>
    </div>
{% endblock %}