{% extends "layout_manage.html" %} 

{% block main %} 
    <div class="container-fluid" style="background-color:white; border-radius:25px; width:275px;">
        <div class="row text-center">
            <p style="padding:5%" id="message" style="display:none;">{{message}}</p>
        </div>
        <div class="row text-center" >
            <p id="message" class="mt-3 mb-3" ><h1>Reset Password</h1></p>
        </div>
        <form action="/resetPassword" method="post">
            <div class="row text-center">
                <span class="mt-5 mb-3">
                    Current Password
                <input required type='password' name="currentPassword" placeholder="Current Password" style="width: 250px; border-radius:60px;" class="form-control">
            </span>
            </div>
            <div class="row text-center">
                <span class="mb-3">
                    New Password
                    <input required type="password" name="newPassword" placeholder="New Password" style="width:250px; border-radius:60px;" class="form-control">
                </span>
            </div>
            <div class="row text-center">
                <p>
                    <button onclick="showLoadingOverlay()" class="btn btn-primary mb-3" style="width:250px; border-radius:60px" type="submit">Update Password</button>
                </p>
            </div>
        </form>
    </div>
    <script>
        let message = document.getElementById('message');
        if (message.innerHTML != ""){
            message.style.display = 'block';
            message.style.backgroundColor = '#0d6efd';
            message.style.color = 'white';
        }
    </script>    


{% endblock %} 