{% extends "layout_app.html" %}

{% block title %}REGISTER{% endblock%}

{% block main %}
    <div class="container" style="background-color: rgb(228, 222, 222); padding-top: 5%; width: auto; margin-top: 50px; padding-bottom: 30px; border-radius: 30px">
    <div class="row text-center mb-5" style=" font-size: 2em;">
        <p>Let's get your family registered</p>
    </div>
    <div class="row text-center mb-3">
        <p style="opacity: 0.7; border-left: 10px solid red; background-color: rgba(255, 193, 7, 0.7); padding-top: 4%; padding-bottom: 4%;" id="error">{{error}}</p>
    </div>
    <div class="row text-center mt-4">
        <form action="/signup" method="post" id="signupForm">
            <input name="familyNameUq" id="familyNameUq" placeholder="Unique Family Name" required type="text" class="mb-4 form-control mx-auto w-auto" style="border-radius: 60px; width: 250px !important;">
            <input type="number" placeholder="No. of family members" required class="mb-4 form-control mx-auto w-auto" style="border-radius: 60px; width: 250px !important;" name="familyMembers" min="2" id="familyMembers">
            <input type="text" required placeholder="Family Nick Name" required class="mb-4 form-control mx-auto w-auto" style="border-radius: 60px; width: 250px !important;" name="familyNN" id="familyNN">
            <input type="password" required id="password" placeholder="Choose a password" name="password" class="mb-4 form-control mx-auto w-auto" style="border-radius: 60px; width: 250px !important;">
            <input type="password" id="confirmPassword" required placeholder="Confirm password" id="confirmPassword" class="mb-4 form-control mx-auto w-auto" style="border-radius: 60px; width: 250px !important;">
            <button type="button" onclick="formChecker()" class="btn btn-primary" style="border-radius:60px; width: 250px;">Sign Up</button> 
        </form>
    </div>
    <div class="row text-end mb-3 mt-3">
        <span style="padding-right:5%">Step 1 of 2</span>
    </div>
</div>
<script>
    let error = document.getElementById("error");
    if (error.innerHTML) {
        error.style.display = "block";
    }
    else {
        error.style.display = "none"
    }

    function formChecker(){
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;
        let familyMembers = document.getElementById("familyMembers").value;
        if (document.getElementById("familyNameUq").value == "") {
            error.innerHTML = "Please fill all the fields";
            error.style.display = "block";
        }
        else if (Number(password.length) < 8) {
            error.innerHTML = "Password should be atleast 8 characters long";
            error.style.display = "block";
        }
        else if (password != confirmPassword) {
            error.innerHTML = "Password and Confirm Password don't match";
            error.style.display = "block";
        }
        else if (Number(familyMembers) < 2) {
            error.innerHTML = "No. of family members can't be less than 2";
            error.style.display = "block";
        }
        else if (document.getElementById("familyNN").value == "") {
            error.innerHTML = "Family Nick Name can't be empty";
            error.style.display = "block";
        }
        else {
            document.getElementById("signupForm").submit();
        }
    }
</script>
{% endblock %}