{% extends "layout.html" %}

{% block title %}IDENTITY{% endblock%}

{% block main %}
   <div id="whoAreU">
        <div class="row text-center">
            <span style="font-size: 3em;" class="mb-3">Who are you?</span>
        </div>
        {% for c in names %} 
            <div class="row">
                <a href="{{ url_for('dashboard', clicked_name=c['name'])}}" style="text-decoration: none;border: 4px solid #0d6efd; padding: 5% 0% 5% 5%; font-size: 2em; background-color: white;border-radius: 30px; color: black;" class="mb-3">{{c['name']}}</a>
            </div>
        {% endfor %}
   </div>



{% endblock %}